---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  IT_CARRIER_SUMMARY_SETTINGS,
  DANCER_CARRIER_SUMMARY_SETTINGS,
  BIO_SUMMARY_SETTINGS,
} from "../consts";
import NestedSummary from "../components/NestedSummary.astro";
import BioSummary from "../components/BioSummary.astro";
import ClosingWords from "../components/ClosingWords.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <Head title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <style>
      h2 {
        margin: 1.5rem 0 10px 0;
      }
    </style>
  </Head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi, I am Takashi Aihara</h1>
      <BioSummary summaries={BIO_SUMMARY_SETTINGS} withImage />
      <h2>IT Carrier Summary</h2>
      <NestedSummary summaries={IT_CARRIER_SUMMARY_SETTINGS} />
      <h2>Amature Dancer Carrier Summary</h2>
      <NestedSummary summaries={DANCER_CARRIER_SUMMARY_SETTINGS} />
      <ClosingWords />
    </main>
    <Footer />
  </body>
</html>
